/node_modules
/public/build
/public/docs
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs/*
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/.WelcomeNote
/storage/app/.CheckEnvironment
/storage/app/.LicenseVerification
/storage/app/.DatabaseSetup
/storage/app/.AdminSetup
/storage/app/.Complete
/storage/app/.app_installed
/storage/app/.user_email
/storage/app/.user_pass
/public/backend/uploads/*
/public/installer/db/*.sql
firebase_credentials.json
__MACOSX/
pre-composer.lock
.DS_Store
DS_Store
/lang/*
/bootstrap/cache/*.php
!bootstrap/cache/.gitignore
